{{!-- render all of the location pin 
locations saved
delete location pin
render new pin locations --}}

{{!-- use youtube - actual handle bars no bueno --}}





<div class="hero-image">
  <div class="col-auto hero-text">
    <h2>Welcome, {{username}}</h2>
  </div>
</div>

<aside>
    <button type="button" class="btn btn-primary" id="saveButton">Save New Maps</button>
    <div id="markers"></div>
    <button type="button" class="btn btn-success">My Maps</button>
    <button type="button" class="btn btn-warning">Shared Maps</button>
</aside>

<div id="map"></div>

