{{! render all of the location pin 
locations saved
delete location pin
render new pin locations }}

{{! use youtube - actual handle bars no bueno }}

<div>

  <nav>
    <img src="../pics/Pin-It.jpg" alt="logo image" id="logoNav" />
    <h1 id="logoHeader">Pin It!</h1>
    <div id="logout">
      <button type="button" class="btn btn-danger" href="/">Logout</button>
    </div>

  </nav>
  <div class="hero">
    <h2 class="hero-text">Welcome, {{name}}</h2>
  </div>
<!-- start of container -->
  <div class="start container-fluid">
    <div class="row">
      <div class="col-md-3">
        <h2>Create a Pin</h2>
        <button type="button" class="btn btn-warning" id="startNewMap">Start New
          Map</button>
<!-- form to upload image -->
<form id="pictureUpload" method="POST" action="/upload" enctype="multipart/form-data">
    <div>
        <label>Upload profile picture</label>
        <input type="file" name="image"/>
    </div>
    <div>
        <input type="submit" value="Upload"/>
    </div>
</form>
<!-- start of create pin form -->
        <form id="createPinForm">
          <div class="form-group">
            <label for="pinTitle">Pin Title</label>
            <input
              type="text"
              class="form-control"
              id="pinTitle"
              placeholder="Enter Pin Title"
              required
            />
          </div>
          <div class="form-group">
            <label for="pinLocation">Pin Location</label>
            <input
              type="text"
              class="form-control"
              id="pinLocation"
              placeholder="Enter Pin Location"
              required
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            id="createPinButton"
          >Create Pin</button>
        </form>
        <button type="button" class="btn btn-warning" id="SaveMap">Save New Map</button>
        <h3 class="myMaps">Created Pins</h3>
        <div id="createdPins"></div>
        <div id="markers"></div>

        <h3 class="myMaps">My Maps</h3>
        <div id="createdMapsDiv"></div>
        <button type="button" class="btn btn-warning" id="MyMap">Map 1</button>

      </div>
<!-- google map api -->
      <div class="col-md-9">
        <div id="map"></div>
      </div>
    </div>

  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c =
    "google", l = "importLibrary", q = "__ib__", m = document, b = window; b =
    b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new
    URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a
    = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g)
    e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
    e.set("callback", c + ".maps." + q); a.src =
    `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h
    = n(Error(p + " could not load.")); a.nonce =
    m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ?
    console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) =>
    r.add(f) && u().then(() => d[l](f, ...n)) }) ({ key:
    "AIzaSyCqVCTPcfFsMOco6Jv2pnysmg3UUOItL3s", v: "weekly" });</script>

  <script src="./js/dashboard.js"></script>
</div>

<script src="js/logout.js"></script>