{{!-- render all of the location pin 
locations saved
delete location pin
render new pin locations --}}

{{!-- use youtube - actual handle bars no bueno --}}





<div class="hero-image">
  <div class="col-auto hero-text">
    <h2>Welcome, {{username}}</h2>
  </div>
</div>

<aside>
    <button type="button" class="btn btn-primary">Create Pin</button>
    <button type="button" class="btn btn-success">My Maps</button>
    <button type="button" class="btn btn-warning">Shared Maps</button>
</aside>

<div>
    <h2>Map</h2>
    {{!-- display map, 
    render information when buttons are clicked. 
    prompt for create pin
    render information for my maps and shared maps on the Map  --}}
</div>

